{% extends 'base_layout.html' %}


{% block content %}
    <section class="content">
        <!-- /.row -->
        <!-- Main row -->


        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}

        <div class="row">

            <section class="col-lg-12 ">
                <div class="box-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"> Blog Fotoğrafları</h3>
                        </div>


                        <div class="timeline-item">




                            <div class="timeline-body">
                                {% if  blog_images %}
                                    <div class="row" style="margin-top: 20px">
                                        {% for image in blog_images %}
                                            <div class="col-md-4">
                                               <a class="button btn btn-danger" style="margin-left: 10px" href="{% url 'booqe:image-delete' image.pk %}"><i class="fa fa-trash"></i> </a>
                                                <img src="/media/{{ image.blogImage }}" width="100%" height="100%"
                                                     alt="..." class="margin ">

                                            </div>
                                        {% endfor %}

                                    </div>
                                {% endif %}

                            </div>
                        </div>


                        <!-- /.box-header -->
                        <!-- form start -->


                        <hr>


                    </div>
                    <!-- /.box -->
                </div>
            </section>
            <section class="col-lg-3 ">
            </section>
        </div>
        <!-- /.row (main row) -->
    </section>



    <script>
        $(function () {
            $('#kategori').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>

    <script>


        /*
            function deactivePatient(id) {
             */

        // $('#modal-danger').modal('show');


        /*   $("#modal-danger").on("shown.bs.modal", function (e) {
               $("#btn-conf").click(function () {

                   $.ajax({
                       url: "".replace(/212121223232323232/, id.toString()),
                       type: "POST",
                       data: {
                           'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            window.location.replace(" url "patient:index" %}");
                            console.log(result.status)
                        }
                    });

                });
            }).modal('show');


            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });


            /*$.ajax({
                url : "
            {#% url "patient:hasta-sil" pk=2121212 %#}".replace(/2121212/, id.toString()),
            type : "POST",
            data : {
                'csrfmiddlewaretoken' : "
            {#  #}{  csrf_token  }}",
                isActive : 'True'
                 },
            success : function(result) {
                console.log(result[0].status)
                }
        });
        } */


    </script>
{% endblock %}

