{% extends 'base_layout.html' %}


{% block content %}
    <section class="content-header">
    {% if messages %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>


            </div>
        {% endif %}
        <h1>

            Bloglar
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="">Bloglar</a></li>
            x
        </ol>
    </section>

    <!-- delete modal-->
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf" data-dismiss="modal">
                        Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!-- delete modal-->




    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height: -webkit-fill-available;">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">


                            <hr>

















                        <table id="example1" class="table table-bordered table-striped dataTables_wrapper form-inline dt-bootstrap">
                            <thead>
                            <tr>
                                    <th>#</th>

                                    <th>Başlık</th>
                                    <th>Kategori</th>
                                    <th>Durum</th>
                                    <th>Yayınlama Zamanı</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if blogs.all %}
                                    {% for blog in  blogs %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>

                                            <td>{{ blog.title }}</td>

                                            <td>
                                                <ul> {% for category in blog.categories.all %}

                                                    <li>{{ category.categoryName }}</li>

                                                {% endfor %}</ul>

                                            </td>
                                                                                    <td>{{ blog.isPublish }}</td>

                                            <td>{{ blog.creationDate }}</td>
                                        <td>

                                               <a href="{% url "booqe:blog-images" blog.pk %}" type="button"
                                                   class="btn btn-warning"><i
                                                        class="fa fa-edit"></i>Fotoğraflar
                                                </a>
                                              <a href="{% url "booqe:update-blog" blog.pk %}" type="button"
                                                   class="btn btn-success"><i
                                                        class="fa fa-edit"></i>Guncelle
                                                </a>

   <a href="{% url "booqe:blog-delete" blog.pk %}" type="button"
                                                   class="btn btn-danger"><i
                                                        class="fa fa-trash"></i>Sil
                                                </a>
                                        </td>

                                        </tr>
                                    {% endfor %}
                                {% endif %}


                                </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

        </div>



    </section>



    <script>
    /*
        function deactivePatient(id) {
         */

            // $('#modal-danger').modal('show');


         /*   $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {

                    $.ajax({
                        url: "".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            window.location.replace(" url "patient:index" %}");
                            console.log(result.status)
                        }
                    });

                });
            }).modal('show');


            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });


            /*$.ajax({
                url : "
            {#% url "patient:hasta-sil" pk=2121212 %#}".replace(/2121212/, id.toString()),
            type : "POST",
            data : {
                'csrfmiddlewaretoken' : "
            {#  #}{  csrf_token  }}",
                isActive : 'True'
                 },
            success : function(result) {
                console.log(result[0].status)
                }
        });
        } */















    </script>
{% endblock %}

