{% extends 'base_layout.html' %}
 {% load static %}

{% block content %}
    <section class="content">


        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <div class="box-header">

                        Çekiliş Ekranı
                    </div>


                    <div class="box-body">

                        <div class="row">

                            <div class="col-md-6">

                                <select id="post" class="form-control select2 select2-hidden-accessible"
                                        onchange="getInfo()"
                                        style="width: 80%;"
                                        data-select2-id="1" tabindex="-1" aria-hidden="true">
                                    <option disabled selected="selected" data-select2-id="3">Çekiliş Postu Seç</option>
                                    {% for blog in blogs %}


                                        <option value="{{ blog.id }}" data-select2-id="{{ blog.id }}">{{ blog.id }}
                                            -{{ blog.title }}</option>

                                    {% endfor %}


                                </select>

                                <a class="button btn btn-info" onclick="cekilisBaslat()">Çekilişi Başlat</a>


                            </div>


                        </div>
                        <hr>
                        <div class="row" style="margin-top: 20px">


                            <div class="col-md-4">


                                <div class="box box-danger" id="user-body" style="display: none">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Kullanıcılar</h3>

                                        <div class="box-tools pull-right">
                                            <span id="user-count" class="label label-danger">3000 Kullanıcı</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                                    class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding" style="overflow-y: auto; height: 400px">
                                        <ul id="user-list" class="users-list clearfix">

                                        </ul>
                                        <!-- /.users-list -->
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer text-center">

                                    </div>
                                    <!-- /.box-footer -->
                                </div>
                            </div>

                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="box box-widget">

                                    <!-- /.box-header -->
                                    <div class="box-body" id="blog-body" style="display: none">
                                        <img id="blog-image" class="img-responsive pad"
                                             src="https://adminlte.io/themes/AdminLTE/dist/img/photo2.png" alt="Photo">
                                        <img class="" width="24px" src="{% static 'images/strawberry_color.png' %}"
                                             alt="Photo">
                                        <span id="pin-count" class=" text-muted">10000</span>
                                        <p id="blog"><strong>description</strong> I took this photo this morning. What
                                            do you guys
                                            think?</p>

                                    </div>
                                    <!-- /.box-body -->

                                    <!-- /.box-footer -->

                                    <!-- /.box -->
                                </div>
                            </div>


                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="box box-widget">

                                    <div class="box-header with-border">
                                        <h3 class="box-title">Çekiliş</h3>


                                    </div>

                                    <!-- /.box-header -->
                                    <div class="box-body" id="cekilis-list" style="display: none">


                                        <ul id="cekilis-user-list" class="users-list clearfix">

                                            <li> gkfjgfkjgkfglfglkf</li>
                                        </ul>


                                    </div>
                                    <!-- /.box-body -->

                                    <!-- /.box-footer -->

                                    <!-- /.box -->
                                </div>
                            </div>


                        </div>
                    </div>


                </div>


            </div>

        </div>
    </section>

    <script>

        function getInfo() {

            var strUser = $("#post").val();

            $.post("{% url 'booqe:cekilis-hazirla' %}",
                {
                    blog_id: strUser,

                },
                function (data, status) {

                    document.getElementById('blog-body').style.display = "";
                    document.getElementById('blog-image').src = data.cekilis_hazirla.blog_image;
                    document.getElementById('pin-count').innerHTML = data.cekilis_hazirla.pinned_count;
                    document.getElementById('blog').innerHTML = "<strong>" + data.cekilis_hazirla.title + " </strong>" + data.cekilis_hazirla.blog;

                    document.getElementById('user-body').style.display = "";

                    let list = document.getElementById('user-list');
                    list.innerHTML = '';

                    for (let i = 0; i < data.cekilis_hazirla.users.length; i++) {


                        let html = "<li style='width:33%'><img src='" + data.cekilis_hazirla.users[i].profileImage + "'> <a style='font-size:10px' class='users-list-name' href='#'>" + data.cekilis_hazirla.users[i].username + "</a></li>";


                        list.innerHTML += html;


                    }

                    document.getElementById('user-count').innerHTML = data.cekilis_hazirla.users.length + " Kullanıcı";


                });


        }


        function cekilisBaslat() {

            var strUser = $("#post").val();
            $.post("{% url 'booqe:cekilis-hazirla' %}",
                {
                    blog_id: strUser,

                },
                function (data, status) {

                    document.getElementById('cekilis-list').style.display = "";
                    let list = document.getElementById('cekilis-user-list');
                    list.innerHTML = '';


                        for (let i = 0; i < data.cekilis_hazirla.users.length*1000; i++) {


                            /*if (data.cekilis_hazirla.users[i].profileImage === null) {


                                data.cekilis_hazirla.users[i].profileImage = '';
                            }

                            let html = "<li style='width:33%'><img src='" + data.cekilis_hazirla.users[i].profileImage + "'> <a style='font-size:10px' class='users-list-name' href='#'>" + data.cekilis_hazirla.users[i].username + "</a></li>";

                            console.log(data.cekilis_hazirla.users[i].username);
                            list.innerHTML = html; */

                            let x = '';


                            (function (i) {
                                setTimeout(function () {
                                    let x = sleep(i, data.cekilis_hazirla.users);
                                    list.innerHTML = x;
                                }, 200 * i);
                            })(i);


                            /* sleep(2000).then(() => {





                                if(data.cekilis_hazirla.users[i].profileImage===null){


                                     data.cekilis_hazirla.users[i].profileImage='';
                                }

                                let html = "<li style='width:33%'><img src='" + data.cekilis_hazirla.users[i].profileImage + "'> <a style='font-size:10px' class='users-list-name' href='#'>" + data.cekilis_hazirla.users[i].username + "</a></li>";

                                console.log(data.cekilis_hazirla.users[i].username);
                                list.innerHTML = html; });





                        } */
                        }





                }
            );


        }

        function sleep2(list) {


            setTimeout(function () {


                list.innerHTML = "";
            }, 1000);

        }

        function sleep(i, array) {
            let list = document.getElementById('cekilis-user-list');

 i = i%array.length;
            if (array[i].profileImage === null) {


                array[i].profileImage = '';
            }



            let html = '<li style="width:60%"><img src="' + array[i].profileImage + '"> <a style="font-size:20px" class="users-list-name" href="#">' + array[i].username + '</a></li>';

            console.log(array[i].username);
            return html;


        }

    </script>


{% endblock %}